{% extends "base.html" %}

{% load static %}

{% block content %}



<div class="container-fluid mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 50px">

        <div class="d-inline-flex">
            <p class="m-0"><a href=""></a></p>
            <p class="m-0 px-2"></p>
            <p class="m-0"></p>
        </div>
    </div>
</div>


<div class="container-fluid py-5">
    <div class="row px-xl-5">

        <div class="col-lg-5 pb-5">
            <div id="product-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img class=" big_img" src="{{single_product.image.url}}" style="width:100%;
                        height: 40vh; object-fit:contain;" alt="Image">
                    </div>
                    {% for m in mult %}
                    <div class="carousel-item " data-bs-inervel="1000">

                        <img class=" big_img" src="{{m.img.url}}" style="width:100%;
                        height: 40vh; object-fit:contain;" alt="Image">
                    </div>
                    {% endfor%}
                </div>
            </div>
        </div>

        <div class="col-lg-7 pb-5">
            <form action="" method="POST">
                {% csrf_token %}
                <h3 class="font-weight-semi-bold">
                    {{single_product.title}}
                </h3>


                {% if variant_price %}

                <h3 class="font-weight-semi-bold mb-4"> ₹{{ variant_price }}.00</h3>
                {% else %}
                <h3 class="font-weight-semi-bold mb-4">{{single_product.price}}</h3>
                {% endif %}
                <p class="mb-4">{{single_product.description}}</p>
                <hr>
                <br>



                {% if variants %}
                <select class="js-select2" onchange="get_current_price()" name="selected_variant" required>
                    <!-- choose-storage -->

                    {% if selected_variant %}
                    <option value="{{selected_variant}}" selected>
                        {{color}} |
                    </option>
                    {% else %}
                    <option value="" selected>Select

                    </option >
                    {% endif %}

                    {% for variant in variants %}

                    <option value="{{variant}}">{{variant.color}}</option>
                    {% endfor %}


                </select>
                {% endif %}


                <hr>
                <br>
                <br>
                {% if single_product.stock <= 0 %} <h5 class="text-danger"> out of stock</h5>

                    {% else %}
                    <a type="submit" href="{% url 'add_cart' single_product.id %}?variant={{selected_variant}}"
                        class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i> Add To Cart</a>
                    <a  href ="{% url 'checkout' %}" type="submit" class="btn btn-primary px-3 m-3"></i> BUY NOW</a>
                    <a href="{% url 'add_wishlist' single_product.id %}" class="btn btn-primary px-3 m-3"></i>
                        wishlist</a>
                    {% endif %}
            </form>

        </div> 


    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">specification</a>
                {% comment %} <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews (0)</a> {% endcomment %}
            </div>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="tab-pane-1">
                    <h4 class="mb-3">Product specification</h4>
                    <p>{{single_product.specification}}</p>
                    <p></p>
                </div>
                {% comment %} <div class="tab-pane fade" id="tab-pane-3">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="mb-4">1 review for "{{single_product.title}}"</h4>
                            <div class="media mb-4">
                                <img src="{{user.pic.url}}" alt="Image" class="img-fluid mr-3 mt-1"
                                    style="width: 45px;">
                                <div class="media-body">
                                    <h6>{{user.username}}<small> - <i>02 march 2023</i></small></h6>
                                    <div class="text-primary mb-2">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star-half-alt"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <p>i just purchased this product 2 month before.i satisfied in your product
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4 class="mb-4">Leave a review</h4>

                            <div class="d-flex my-3">
                                <p class="mb-0 mr-2">Your Rating * :</p>
                                <div class="text-primary">
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                            <form>
                                <div class="form-group">
                                    <label for="message">Your Review *</label>
                                    <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="name">Your Name *</label>
                                    <input type="text" class="form-control" id="name">
                                </div>
                                <div class="form-group">
                                    <label for="email">Your Email *</label>
                                    <input type="email" class="form-control" id="email">
                                </div>
                                <div class="form-group mb-0">
                                    <input type="submit" value="Leave Your Review" class="btn btn-primary px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div> {% endcomment %}

            </div>
        </div>
    </div>
</div>
</div>

<!-- Products End -->


<!-- Products Start -->



<div class="container-fluid pt-5">
    <div class="text-center mb-4 bg-primary">

        <h2 class="section-title px-5">
            <span class="px-2">YOU MAY ALSO LIKE THIS</span>
        </h2>
    </div>
    <div class="row px-xl-5">

        <div class="col">

            <div class="owl-carousel related-carousel">
                {% for p in products|slice:"0:4" %}
                <div class="card product-item border-0">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid " src="{{p.image.url}}" style="width: 100%;
                        height: 15vw;
                        object-fit: contain;" alt="">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{p.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{p.price}}</h6>
                            <h6 class="text-muted ml-2"><del>{{p.price}}</del></h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{p.get_url}}" class="btn btn-sm text-dark p-0"><i
                                class="fas fa-eye text-primary mr-1"></i>View
                            Detail</a>
                        </a>
                        <a href="{% url 'add_wishlist' p.id  %}" class="btn btn-sm text-dark p-0 text-center"><i
                                class="fa-solid fa-heart"></i> whishlist
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

    </div>
</div>



<script>
    function get_current_price(variant) {
        var variant = document.querySelector('select[name="selected_variant"]').value;
        window.location.href = window.location.pathname + `?variant=${variant}`

        // show element with name="seleced_variant"
        var disabledOption = selectElement.querySelector('option[disabled][selected]');
        disabledOption.textContent = variant;
    }
</script>



{% endblock content %}